
*{box-sizing: border-box;
}

/*top navigation bar*/
navbar-example2 {
  display: block;
  background-color: #ffffff;
  height: 10%;

}

#nav-text{
  display: block;
    width: 20%;
    height: 100%;
  text-align: center;
  padding: 0px 10px 0px;
  font-size: 25px;

margin-left: 100px;
}
html,body{
  height: 100%;
width: 100%;
}
/*top navigation bar- about contact portflio*/
#navbar-example2 a {
  font-weight:bold;
  float: right;
  
    color: #777777;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

/*top navigation bar- about ...on hover*/
#navbar-example2 a:hover {
  background-color: #ffffff;
  color: black;
}
/*header 1 in body*/
h1{
color: #4aaaa5;
font-size: 30px;
font-weight:bold;
}
/*header 2 in body*/
h2{
color: #4aaaa5;
font-size: 25px;
padding-left: 10px;
padding-top: 5px;
padding-bottom: 12px; 
font-weight:bold;
}
/*class containing main body*/
.container{
 background-color: #efefef;
  overflow: auto;
  

}
.wrapper{
  background-color: #efefef;
  overflow: auto;
  height: 80%;
  width: 100%;
}
  
/*id containing the left box for all pages*/
.col-md-6{
  font-family: 'Helvetica';
 display: block;
 float: left; 
height: 450px;
 line-height: 18px;
 padding:5px 20px 0px 10px;
overflow: auto;
margin-left: 50px;
margin-top: 10px;
  background-color: #ffffff;
  
}

.col-md-3{
 padding:5px 20px 5px 10px;
 margin-top: 5px;
}

.row figcaption{
  font-size: 16px;
}
/*button in form*/

  .button {
    
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*image on fb linkein icons in contact*/
#image-index,#image-contact{
  float: left;
  width: 30%;
padding:5px 20px 5px 25px;
}

.image, .image1,.image2, .image3, .image4 {
  /*for portfolio table*/
  
  float: left;
  overflow: auto;
position: relative;
width: 270px;
padding:5px 0px 5px 0px;
}
/*text in portfolio*/
.portfolio-text{
position: absolute;
bottom:0px;
left: 0;
text-align: center;
width: 60%;
color: white;
background-color: #4aaaa5;
}
.fixed-bottom{
  display: block;
  
  clear: both;
  width: 100%;
  font-size: 15px;
  color: #ffffff;
  background-color: #666666;
text-align: center;
height: 15px;
padding: 10px 10px 30px 10px;
}


